.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sendReview {
  /* background-color: ; */
}

.logoBanner{
  width: 18%;
  height: 15%;
  background-color: rgb(107, 209, 96);
  transform: skewX(-20deg);
  margin-left: 5%
}

.logo {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 4vw;
  transform: skewX(20deg);
  text-align: center;
}

.ify {
  font-weight: 10;
}

.slogan {
  margin-left: 10%;
  font-family: "ubuntu";
  font-size: 2vw;
}

h1 {
  margin-bottom: 0;

}
